ADMIN_CHAT_ID = 123456789
CHAT_ID = 123456789
BOT_TOKEN = 'bot-token'
PRAKTIKUM_TOKEN = 'praktikum-token'
FROM_ADRESS = 'your-gmail@gmail.com'
TO_ADRESS = 'your-gmail@gmail.com'
SMTP_PASS = 'password'