ADMIN_CHAT_ID = 123456789
CHAT_ID = 123456789
TELEGRAM_TOKEN = 'bot-token'
PRAKTIKUM_TOKEN = 'praktikum-token'
FROM_ADRESS = 'your-mail@gmail.com'
TO_ADRESS = 'your-mail@gmail.com'
SMTP_LOGIN = 'login'
SMTP_PASS = 'password'